<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Edit discount codes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" 	src="javascript/jquery.jsontotable.min.js"></script>
        <script type="text/javascript" 	src="scripts/drawCodes.js"></script>
        <link rel="stylesheet" type="text/css" href="codesCSS.css">
    </head>
    <body>
        <h1>Edit a discount code</h1>
            <div class="table" id="codesTable">
                <div class="thead"><div class="td">Code</div><div class="td">Rate</div><div class="td">Action</div><div class="td">Action</div></div>
                <div class="tbody">
                </div>
            </div>
    </body>
</html>
