<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Edit discount codes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
        <script type="text/javascript" src="../scripts/processCodes.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/codesCSS.css">
    </head>
    <body>
        <h1>Edit a discount code</h1>
        <form id="codeForm" onsubmit="event.preventDefault(); addCode();">
            <fieldset><legend>Saisie d'un taux de remise</legend>
            Code : <input id="code" name="code" required size="1" maxlength="1" pattern="[A-Z]{1,1}" title="Une lettre en MAJUSCULES"><br/>
            Taux : <input id="taux" name="rate" type="number" step="0.01" min="0.0" max="99.99"><br/>
            <input type="submit" value="Ajouter">
            </fieldset>
        </form>
        <br>
        <div id="codesTable"></div>
            
            
            
        <script id="codesTemplate" type="text/template">
            <TABLE>
            <tr><th>Code</th><th>Taux</th><th>Action</th></tr>
            {{! Pour chaque enregistrement }}
            {{#codes}}
                {{! Une ligne dans la table }}
                <TR><TD>{{code}}</TD><TD>{{rate}}%</TD><TD><button onclick="deleteCode('{{code}}')">Supprimer</button></TD></TR>
            {{/codes}}
            </TABLE>
        </script>
    </body>
</html>
